.container {
    max-width: 1140px;
    margin: 0 auto;    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.grid-container.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}


.flex {
    display: flex;     
}

.flex-order {
    justify-content: space-between;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.gap-20 {
    gap: 20px;
}



@media only screen and (max-width: 768px) {

    .container  {
        max-width: 100%;
        padding: 1em;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }

    .grid-container.col-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }    
    

    .grid-container.col-sm-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    .gap-sm-10 {
        gap: 10px !important;
    }
}